@import "webix/codebase/webix";
@import "webix/codebase/skins/flat";
@import "scheduler/scheduler";
@import "font-awesome";

.circle-image{
  width:150px;
  height:150px;
  border-radius:50%;
  background-image:url("http://placekitten.com/g/200/400");
  display:block;
  background-position-y:25%
}

.background {
  background: #D43A3D;
  color: #ffffff;
}
.head-logo {
  padding: 10px;
  width: 80px;
}

.head-location {
  vertical-align:middle;
  padding: 10px;
  width: 20px;
}

.name {
  font-size: 24px;
}

.signature {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  color: #000000;
  background: #ffffff;
}

.like-p {
  font-size: 16px;
}

.like {
  vertical-align:middle;
  width: 32px;
}