$bgcolor: #FEF7A9;
$font: #ffffff;
* {
  font-family:  "Microsoft YaHei", SimHei, SimSun, Heiti, "MS Mincho", "Meiryo", monospace;
}
@import "webix/codebase/webix";
@import "scheduler/scheduler";
@import "font-awesome";
@import "style";
@import "components";
