body {
  font-family: "Microsoft YaHei", SimHei, SimSun, Heiti, "MS Mincho", "Meiryo", monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.circle-image {
  width:30px;
  height:30px;
  border-radius:50%;
  background-image: url("http://placekitten.com/g/200/400");
  display:block;
  background-position-y:25%
}

.comment-avatar {
  vertical-align:middle;
  width:30px;
  height:30px;
  border-radius:50%;
  background-image: url("http://placekitten.com/g/200/400");
  background-position-y:25%
}

.comment-name {
  font-size: 16px;
}

.background {
  background: $bgcolor;
  color: $font;
}


.head-logo {
  padding: 10px;
  width: 25%;
}

.head-location {
  vertical-align:middle;
  padding: 10px;
  width: 20px;
}

.name {
  font-size: 24px;
}

.signature {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  color: #000000;
  background: #ffffff;
}

.like-p {
  font-size: 16px;
}

.like-p a{
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.like{
  vertical-align:middle;
  width: 24px;
}

.medals-thumb {
  font-size: 14px;
}

.medals-thumb img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.medals-list {
  text-align: center;
}

.webix_list-x .webix_list_item {
  display: inline-block;
  vertical-align: top;
  border-right: 0px solid #EBEBEB;
  border-bottom: medium none #EBEBEB;
  border-color: #EBEBEB;
}

.full-image {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 18px;
}

